/*
Handcrafted by Elliot Jay Stocks
http://elliotjaystocks.com/
Last updated on 18.11.2013
================================================
01	Sensible Defaults
02	Typography
03	Layout
04	Media Queries
================================================
/*  General
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */

* {
	margin:0; padding:0; /* So sue me */
}
div,
article,
section,
header,
footer,
nav,
figure,
li				{
	position: relative; /* For absolutely positioning elements within containers  */
}
.group:after {
	display: block; 
	height: 0; 
	font-size: 0; 
	content: "."; 
	clear: both; 
	visibility: hidden; /* For clearing */
} 
*	{ 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; /* Apply a natural box layout model to all elements â€” see http://		paulirish.com/2012/box-sizing-border-box-ftw 	*/
} 
::-moz-selection {
	background: #333; 
	color: #fff; 
}
::selection { 
	background: #333; 
	color: #fff;
}
body, 
input, 
textarea {
	color: #333;
} 
/* Fonts */
body {
	font-family: helvetica, sans-serif;
}
h2,
h3 { 
	font-family: helvetica, sans-serif;
}
/* Headings */
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-weight: normal; 
}
h1 { 
	background: #ea2e49;
	color: #fff;
	font-size: 1.7em;
	font-weight: 100;
	display: inline-block;
	margin-bottom: 1em;
	padding: 0.5em 1em; 
}
h2 { 
	color: #fff;
	font-weight: 800; 
	font-size: 3em;
	letter-spacing: 1px;
	line-height: 1em;
}
h3 { 
	font-size: 1.9em;
	font-weight: 100; 
	letter-spacing: 1px;
	line-height: 1em;
	padding: 0.5em 0 0.25em 0; 
}

/* Links */
a { 
	border-bottom: 1px solid rgba(51,55,69,0.2); 
	color: rgba(51,55,69,0.9); 
	text-decoration: none; 
	-moz-transition: border-color 0.2s ease-in-out; 
	-ms-transition: border-color 0.2s ease-in-out; 
	-o-transition: border-color 0.2s ease-in-out; 
	-webkit-transition: border-color 0.2s ease-in-out; 
	transition: border-color 0.2s ease-in-out; 
}
a:hover { 
	border-color: rgba(51,55,69,0.9); 
}
.intro .summary p a, 
.secondary p a, 
.contact-box p a { 
	color: #fff; 
}
.contect-box p a: hover { 
	border-color: #fff; 
}

/* Paragraph styles */
p, li { 
	font-size: 1em; 
	font-weight: 100;
	letter-spacing: 1px;
	line-height: 1.3em; 
	padding: 0.5em 0; 
}
h1,
.intro .summary p, { 
	font-size: 1.3em;
	font-weight: 300; 
	letter-spacing: 2px; 
	text-transform: uppercase; 
}
.intro .summary p:last-child { 
	border-top: 1px solid #ea2e49; 
	margin-top: 1em; 
	padding-top: 1.5em; 
}

/* Other bits & bobs */
em,
strong { 
	font-style: normal; 
	font-weight: 400; 
}
ul {
	list-style: none;
}
footer a {
	font-size: .7em;
}
footer p {
	font-size: .7em;
	margin: 0;
}

/*  Layout
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
------------------------------------------------------------------------------------ */

html { 
	background: #ccc; 
	padding: 3%; 
}
body { 
	background: rgba(51,55,69,0.9); 
}
.page-wrapper { 
	z-index: 2; 
}
.intro { 
	padding: 5%; 
}
.intro .summary { 
	color: #fff; 
	padding: 15% 0; 
}
.intro .projects { 
	background: rgba(255,255,255,0.9); 
	color: #333; 
	margin-left: -30%; 
	padding: 5% 5% 5% 30%; 
}
.main { 
	padding: 5%; 
}
.sidebar { 
	background: rgba(83, 191, 107, 0.9); 
	padding: 5.5%; 
	margin: 0 -5% 0 5%;
}
.sidebar ul { 
	padding: 0.5em 0 2em 0; 
}
.sidebar h3	{
	color: #fff;
}
.sidebar ul li { 
	color: rgba(255, 255, 255, 0.9); 
	list-style: none; 
	margin: 0; 
	padding: 0 0 0.825em 0; 
}
footer { 
	background: rgba(83, 191, 107, 0.9); 
	clear: both; 
	color: #fff; 
	padding: 1em 5%; 
	margin-top: 5%; 
	width: 80%;
}
footer a { 
	margin-right: 0.5em; 
}

.secondary { 
	color: #fff; 
	padding: 5%; 
}
.contact-box { 
	background: rgba(234,46,73,0.9); 
	color: #fff; 
	padding: 5%; 
}
.gallery {
	list-style: none;
}
.gallery li {
	width: 100%;
}
.gallery img {
	width: 40%;
	margin: 0 2.5%;
}


/*tablet phone*/	
@media screen and (min-width:641px) {
	body {
		background-color: #aaa;
	}
	h2 {
		font-size: 4em;
	}
	.intro { 
		width:66.6%; 
	}
	.sidebar { 
		position: absolute; 
		right: 0; 
		top: 2.5%; 
		width: 32.75%; 
		z-index: 2;
		margin: 0;
	}
	.sub-sidebar { 
		background:rgba(51,55,69,0.9); 
		bottom:0; 
		right:0; 
		position:fixed; 
		top:0; 
		width:30%; 
		z-index: 1; 
	}
	.secondary { 
		float:left; 
		width:45%; 
	}
	.contact-box { 
		float:left; 
		width:50%; 
		margin-bottom: 3%;
		z-index: 900;
	}
}
/*table landscape/small laptop*/	
@media screen and (min-width:768px) {
	h2 {
		font-size: 4.7em;
	}
	body { 
		font-size:110%; 
	}
}
/*desktop*/	
@media screen and (min-width:1050px) {
	h2 {
		font-size: 5.7em;
	}
	body { 
		font-size:125%; 
	}
}
